.add-task-container {
  height: 50%;
}

.add-task-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.add-task-header > h2 {
  margin-block: 0.5rem;
}
.add-task-header > #task-icon {
  width: 10%;
  height: auto;
}

.add-task-section {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.add-task-section > #add-task-input {
  width: 60%;
  height: 1.5rem;
  padding-left: 0.3rem;
  border: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  cursor: pointer;
}
.add-task-section > #add-task-subicon {
  width: 2rem;
  cursor: pointer;
}

.add-task-section > #add-task-subicon:hover {
  transform: scale(1.05);
}

#clear-task-btn {
  margin: 1.5rem;
  width: 57%;
  height: 1.5rem;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  cursor: pointer;
}
#clear-task-btn:hover {
  transform: scale(1.05);
}
